$gray: #999;

.large-up-4 {
  .column {
    img {
      box-shadow: 4px 4px 4px $gray;
    }
  }
}

.our-products-page {
  background-image: url('../img/bridge.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
